<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js - Form input binding</title>
    <script src="https://unpkg.com/vue@3.4.21/dist/vue.global.js"></script>
</head>

<body>
    <h1>Form Validation Demo</h1>
    <div id="app">
        <form @submit.prevent="checkForm">
            <p v-if="errors.length">
                <b>Please correct the following error(s):</b>
                <ul>
                    <li v-for="error in errors" style="color: red;">{{ error }}</li>
                </ul>
            </p>
            <p>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" v-model="name">
            </p>
            <p>
                <label for="age">Age</label>
                <input type="number" name="age" id="age" v-model="age" min="0">
            </p>
            <p>
                <label> </label>
                <input type="radio" id="male" name="gender" value="Male" v-model="gender">
                <label for="male">Male</label>
                <input type="radio" id="female" name="gender" value="Female" v-model="gender">
                <label for="female">Female</label>
            </p>
            <p>
                <label for="movie">Your favorite Movie</label>
                <select name="movie" id="movie" v-model="movie">
                    <option></option>
                    <option>Star Wars</option>
                    <option>Vanilla Sky</option>
                    <option>Atomic Blonde</option>
                </select>
            </p>
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>
    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    errors: [],
                    name: null,
                    age: null,
                    gender: null,
                    movie: null
                }
            },
            methods: {
                checkForm() {
                    this.errors = [];
                    if (!this.name) this.errors.push("Name required.");
                    if (!this.age) this.errors.push("Age required.");
                    if (!this.gender) this.errors.push("Gender required.");
                    if (!this.movie) this.errors.push("Favorite Movie required.");
                }
            }
        }).mount('#app');
    </script>
</body>

</html>
